# ignore everything by default
/*

# exclude what we want git to track

# folders
!docs/*
!img/*
!modules/*
!resources/*
!snippets/*

# files
!straight/versions/default.el
!.gitignore
!LICENSE
!README.org
!config.org
!early-init.el
!globals.org
!init.el
!tangle.sh