/*

globals.org
userconfig.org
#modules/discord.org
#modules/evil.org
#modules/mail.org
#modules/reddit.org

!docs/*
!img/*
!modules/*
!resources/*
!snippets/*

!straight/versions/default.el

!.gitignore

!LICENSE
!README.org

!config.org
!early-init.el
!init.el

!tangle.sh